<div class="menucon">
    <div class="wrapper">
        <ul class="usermenu justify">
            <li class="username"><a href="javascript:window.location.href='/login#'+window.location.href">未登录</a></li>
            <li>[<span class="userrole"></span>]</li>
            <li><a href="javascript:userout()">退出</a></li>
        </ul>
        <ul id="menu" class="justify">
            <li class="active"><a href="/">首页</a></li>
            <li id="menu_user"><a href="/users">用户管理</a></li>
            <li id="menu_api"><a href="/api">API权限</a></li>
            <li id="menu_role"><a href="/role">角色分配</a></li>
        </ul>
    </div>
</div>

<script>
    //退出登录(删除token)
    function userout() {
        window.localStorage.removeItem('flashmeToken');
        window.location.reload();
    }
    var menuactive = "#<%= menuactive %>";
    if ($(menuactive).length > 0) {
        $(menuactive).addClass('active').siblings().removeClass('active')
    }

</script>