<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户管理</title>
    <%include header.ejs%>
    <style>
        .user{background-color: #f2f2f2;margin: 0 auto;padding: 20px;}
        .user h1{display: inline-block;color: brown;}
    </style>
</head>

<body>

    <%include menu.ejs%>
    <div class="wrapper">
        <div class="user">
            当前用户：<h1 class="username"><a href="/login">未登录</a></h1> <button>退出</button><h3>邮箱：<span class="useremail"></span></h3>
        </div>
        <div class="forms">
            <form action="javascript:void(0)" id="form1">
                <div class="data_table">
                    <table>
                        <thead>
                            <tr><th>用户名</th><th>角色</th><th>邮箱</th><th>注册时间</th><th>操作</th></tr>
                        </thead>
                        <tbody class="listdata"></tbody>
                    </table>
                </div>
                <div class="table_foot">
                    <div class="right">
                        <button id="preBtn" class="btn size-14 bg-blue"> < </button>&nbsp;&nbsp;<b ng-bind="page" style="color: blue"></b> /<span ng-bind="total"></span>&nbsp;&nbsp;<button id="nextBtn" class="btn size-14 bg-blue"> > </button>
                        总条数：<span ng-bind="length"></span>&nbsp;&nbsp;&nbsp;&nbsp;前往：<input id="gotopage" type="text" style="width: 30px" />
                    </div>
                    <button class="del-list btn size-14 bg-ju">批量删除</button><button class="add-btn btn size-14 bg-blue">新增</button>
                </div>
            </form>
        </div>
        <p>my web: <a href="http://www.flashme.cn" target="_blank">www.flashme.cn</a></p>
    </div>



    <script id="table-art" type="text/html">
		{{each}}
        <tr>
            <td class="name"><input name="id" type="checkbox" value="{{$value.id}}"> {{$value.name}}</td>
            <td class="role">{{$value.role}}</td>
            <td>{{$value.email}}</td>
            <td>{{$value.time}}</td>
            <td><a href="javascript:void(0)" onclick="editbtn(this)">修改</a></td>
        </tr>
		{{/each}}
	</script>


    <script src="/js/getlist.js"></script>
    <script>

        //获取列表数据
        var listdata=new getlist("/users/data");
        listdata.init();
        listdata.list();


        //退出登录(删除token)
        $('.user button').click(function () {
            window.localStorage.removeItem('flashmeToken');
            window.location.href = "/login";
        })

        //新增用户
        $('.add-btn').click(function () {
            var layerindex=layer.open({
                type: 2,
                title: "新增用户：",
                area: ['720px', '60%'],
                fixed: false, //不固定
                maxmin: true,
                shadeClose: true,
                content: '/users/edit#add'
            });
        })

        //删除用户
        $('.del-list').click(function () {
            layer.confirm("确定要删除" + $('input[name=id]:checked').length + "名用户？", {
                btn: ['删除', '不'],
                title: false, //不显示标题
                shadeClose: true, //开启遮罩关闭
                closeBtn: 0, //隐藏关闭按钮
                // time: 2000, //2秒后自动关闭
            }, function () {
                var list = $('input[name=id]:checked').map(function (index, el) {
                    return $(this).val();
                }).get().join(",");

                $.ajax({
                    type: "delete",
                    url: "/users/data",
                    data: { id: list },
                    headers: {
                        Authorization: "Bearer " + window.localStorage.getItem('flashmeToken')
                    },
                    success: function (result) {
                        layer.msg(result.msg)
                        if(result.state){
                            listdata.list();//更新列表
                        }
                    },
                    error: function (err) {
                        if(err.status==403){
                            parent.layer.msg('您无权限操作！');
                        }
                    }
                })
            });

        })
        
        var editdata={}
        function editbtn(ev) {
            var tr=$(ev).closest('tr')
            editdata.id=tr.find('input[name=id]').val();
            editdata.name=tr.find('.name').text();
            editdata.role=tr.find('.role').text();
            var layerindex=layer.open({
                type: 2,
                title: "修改用户："+editdata.name,
                area: ['720px', '60%'],
                fixed: false, //不固定
                maxmin: true,
                shadeClose: true,
                content: '/users/edit#edit'
            });
            //可以执行iframe里的函数
            // var iframe=document.getElementById("layui-layer-iframe"+layerindex)
            // var content=iframe.contentWindow;
            // iframe.onload=function(){
            //     content.iframeFun();
            // }
            
        }


    </script>
</body>

</html>