<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户修改</title>
    <%include header.ejs%>

    <link rel='stylesheet' href='/style/melist2.css' />
    <script src="/js/jQuery.Hz2Py-min.js"></script>
    <script src="/js/melist.js"></script>
    <!-- 图标样式 -->
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div class="forms">
            <div class="formsTitle">
                <h2>填写用户信息</h2>
            </div>
            <form action="javascript:void(0)" id="form1">
                <input name="id" type="hidden">
                <dl>
                    <dt>用户名</dt>
                    <dd><input name="name" type="text" maxlength="12" /></dd>
                </dl>
                <hr>
                <dl>
                    <dt>邮箱</dt>
                    <dd><input name="email" type="text" maxlength="26" /></dd>
                </dl>
                <hr>
                <dl>
                    <dt>密码</dt>
                    <dd><input name="password" type="text" /></dd>
                </dl>
                <hr>
                <dl>
                    <dt>角色</dt>
                    <dd>
                        <input name="oldrole" type="hidden">
                        <input name="role" type="hidden">
                        <span class="textroot linkage" linkage="all">
                            <ol><li><input name="zb" type="checkbox" class="" /></li></ol>
                            <div class="text">
                                <input type="text" placeholder="选择角色">
                                <ul class="soso" id="linkageRole"></ul>
                                <div class="more">更多</div>
                            </div>
                        </span>
                    </dd>
                </dl>
                <hr>
                <dl>
                    <dt>状态</dt>
                    <dd><label>启用<input name="level" type="checkbox" value="1"></label></dd>
                </dl>
                <hr>
                <dl>
                    <dt></dt>
                    <dd>
                        <button class="savebtn" onclick="upData()">提交</button>
                        <button class="resetbtn" onclick=parent.layer.close(frame)>取消</button>
                    </dd>
                </dl>
            </form>
        </div>
    </div>


    <script>

        var frame = parent.layer.getFrameIndex(window.name);//获取此窗体名

        var posturl,msgstr,ajaxtype;
        if (location.hash == "#edit") {
            ajaxtype="put";
            posturl="/users/data";
            msgstr="修改成功";
            $("input[name=oldrole]").val(parent.editdata.role);
            $('input[name=id]').val(parent.editdata.id);
            $('h2').text(parent.editdata.name);
            $('input[name=name]').attr('placeholder',parent.editdata.name);
            $('input[name=email]').attr('placeholder',parent.editdata.email);
            $("input[name=level]").prop('checked',parent.editdata.level=="0" ? false : true);
            if(parent.editdata.id==1){
                $("select[name=role]").hide();
            }
        }else if (location.hash == "#add"){
            ajaxtype="post";
            posturl="/users/data";
            msgstr="添加成功";
        }


        function upData() {
            $.ajax({
                type: ajaxtype,
                url: posturl,
                data: $('#form1').serialize(),
                dataType: 'json',
                headers: {
                    Authorization: "Bearer " + window.localStorage.getItem('flashmeToken')
                },
                success: function (result) {
                    if (result.state) {
                        parent.layer.msg(msgstr);
                        parent.layer.close(frame);
                        parent.listdata && parent.listdata.list();
                    } else {
                        parent.layer.msg(result.msg);
                    }

                },
                error: function (err) {
                    if (err.status == 403) {
                        parent.layer.msg('您无权限操作！');
                    }
                }
            });
            return;
        }

        melist();
        linkageall();
        $('#linkageRole').bind('select', function (ev, val) {
            $("input[name=role]").val(val.id);
        })

        var roletree, stopsort;
        var _role=parent.editdata.role;
        $.ajax({
            type: "GET",
            url: "/role/data",
            headers: {
                Authorization: "Bearer " + window.localStorage.getItem('flashmeToken')
            },
            success: function (result) {
                console.log(result);
                roletree=result.infor;
                //递归查询所在路径
                rolesort(roletree, []);
                console.log('新的',roletree);
                $('#linkageRole').olclear();
                window.setLinkageAll($("#linkageRole"), roletree);

            },
            error: function (err) {
                if (err.status == 403) {
                    layer.msg('您没有角色浏览权限！当前无法修改角色！');
                }
            }
        })
        //递归查询路径
        function rolesort(arr, sort){
            if(stopsort){
                return;
            }
            for(var i=0;i<arr.length;i++){
                var newsort=sort.slice();
                newsort.push(i);
                if(arr[i].id==_role){
                    stopsort=true;
                    console.log(newsort);
                    treeshow(roletree,newsort);
                    return;
                }
                arr[i].link && arr[i].link.length>0 && rolesort(arr[i].link,newsort)
            }
        }
        //Object添加show
        function treeshow(tree,sort){
            tree[sort[0]].show=true;
            var link=tree[sort[0]].link;
            if(sort.length>1 && link){
                sort.shift();
                treeshow(link,sort);
            }
        }


    </script>
</body>

</html>